# UCI Adult Dataset

This is my first attempt to use Jupyter notebook and learn some Python while doing an analysis of the UCI dataset:

https://archive.ics.uci.edu/ml/datasets/adult

I will be following this blog post that does it in R:

https://www.kaggle.com/flyingwombat/logistic-regression-with-uci-adult-income

I may be using this as additional resource:
https://towardsdatascience.com/logistic-regression-using-python-sklearn-numpy-mnist-handwriting-recognition-matplotlib-a6b31e2b166a

Using this for reproducibility:
https://www.youtube.com/watch?v=J45NJ0pJXWQ

In [1]:
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [2]:
from urllib.request import urlretrieve
urlretrieve(URL, 'adult_birth.csv')

('adult_birth.csv', <http.client.HTTPMessage at 0x1c25dac4978>)

Getting the first 10 rows, to check the file loaded. There are 2 ways to do that:
1. Use csv.DictReader (treats values in first row as dictionary keys and values in subsequent rows as dictionary values)
2. Use csv.reader
3. Use one of the above+ itertools from islice

This is the most classic, simplest way with an explicit counter

In [3]:
import csv

with open("adult_birth.csv") as f:
    reader = csv.reader(f) 
    i=0
    for row in reader: 
        if i <= 9:
            print(row)
        i+=1

['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0', ' 40', ' United-States', ' <=50K']
['50', ' Self-emp-not-inc', ' 83311', ' Bachelors', ' 13', ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', ' 0', ' 0', ' 13', ' United-States', ' <=50K']
['38', ' Private', ' 215646', ' HS-grad', ' 9', ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', ' 0', ' 0', ' 40', ' United-States', ' <=50K']
['53', ' Private', ' 234721', ' 11th', ' 7', ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', ' 0', ' 0', ' 40', ' United-States', ' <=50K']
['28', ' Private', ' 338409', ' Bachelors', ' 13', ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', ' 0', ' 0', ' 40', ' Cuba', ' <=50K']
['37', ' Private', ' 284582', ' Masters', ' 14', ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', ' 0', ' 0', ' 40', ' United-States', ' <=50K']
['49', ' Private', ' 160187', ' 9th', ' 5', ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', ' 0', ' 0', ' 16', ' Jamaica', ' <=50K']
['52', ' Self-emp-not-inc', ' 209642', ' HS-grad', ' 9', ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', ' 0', ' 0', ' 45', ' United-States', ' >50K']
['31', ' Private', ' 45781', ' Masters', ' 14', ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', ' 14084', ' 0', ' 50', ' United-States', ' >50K']
['42', ' Private', ' 159449', ' Bachelors', ' 13', ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', ' 5178', ' 0', ' 40', ' United-States', ' >50K']

In [4]:
import csv

with open("adult_birth.csv") as f:
    reader = csv.reader(f)  
    for i,row in enumerate(reader):
        print(row)
        if(i >= 9):
            break

['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0', ' 40', ' United-States', ' <=50K']
['50', ' Self-emp-not-inc', ' 83311', ' Bachelors', ' 13', ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', ' 0', ' 0', ' 13', ' United-States', ' <=50K']
['38', ' Private', ' 215646', ' HS-grad', ' 9', ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', ' 0', ' 0', ' 40', ' United-States', ' <=50K']
['53', ' Private', ' 234721', ' 11th', ' 7', ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', ' 0', ' 0', ' 40', ' United-States', ' <=50K']
['28', ' Private', ' 338409', ' Bachelors', ' 13', ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', ' 0', ' 0', ' 40', ' Cuba', ' <=50K']
['37', ' Private', ' 284582', ' Masters', ' 14', ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', ' 0', ' 0', ' 40', ' United-States', ' <=50K']
['49', ' Private', ' 160187', ' 9th', ' 5', ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', ' 0', ' 0', ' 16', ' Jamaica', ' <=50K']
['52', ' Self-emp-not-inc', ' 209642', ' HS-grad', ' 9', ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', ' 0', ' 0', ' 45', ' United-States', ' >50K']
['31', ' Private', ' 45781', ' Masters', ' 14', ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', ' 14084', ' 0', ' 50', ' United-States', ' >50K']
['42', ' Private', ' 159449', ' Bachelors', ' 13', ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', ' 5178', ' 0', ' 40', ' United-States', ' >50K']

In [5]:
import csv

with open("adult_birth.csv") as f:
    reader = csv.DictReader(f)  
    for i,row in enumerate(reader):
        print(row)
        if(i >= 9):
            break
            
#shorter code with a while loop:            
            
import csv

with open("adult_birth.csv") as f:
    reader = csv.DictReader(f)  
    while (i in enumerate(reader)<=9):
        print(row)

OrderedDict([('39', '50'), (' State-gov', ' Self-emp-not-inc'), (' 77516', ' 83311'), (' Bachelors', ' Bachelors'), (' 13', ' 13'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Husband'), (' White', ' White'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 13'), (' United-States', ' United-States'), (' <=50K', ' <=50K')])
OrderedDict([('39', '38'), (' State-gov', ' Private'), (' 77516', ' 215646'), (' Bachelors', ' HS-grad'), (' 13', ' 9'), (' Never-married', ' Divorced'), (' Adm-clerical', ' Handlers-cleaners'), (' Not-in-family', ' Not-in-family'), (' White', ' White'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' United-States'), (' <=50K', ' <=50K')])
OrderedDict([('39', '53'), (' State-gov', ' Private'), (' 77516', ' 234721'), (' Bachelors', ' 11th'), (' 13', ' 7'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Handlers-cleaners'), (' Not-in-family', ' Husband'), (' White', ' Black'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' United-States'), (' <=50K', ' <=50K')])
OrderedDict([('39', '28'), (' State-gov', ' Private'), (' 77516', ' 338409'), (' Bachelors', ' Bachelors'), (' 13', ' 13'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Prof-specialty'), (' Not-in-family', ' Wife'), (' White', ' Black'), (' Male', ' Female'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' Cuba'), (' <=50K', ' <=50K')])
OrderedDict([('39', '37'), (' State-gov', ' Private'), (' 77516', ' 284582'), (' Bachelors', ' Masters'), (' 13', ' 14'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Wife'), (' White', ' White'), (' Male', ' Female'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' United-States'), (' <=50K', ' <=50K')])
OrderedDict([('39', '49'), (' State-gov', ' Private'), (' 77516', ' 160187'), (' Bachelors', ' 9th'), (' 13', ' 5'), (' Never-married', ' Married-spouse-absent'), (' Adm-clerical', ' Other-service'), (' Not-in-family', ' Not-in-family'), (' White', ' Black'), (' Male', ' Female'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 16'), (' United-States', ' Jamaica'), (' <=50K', ' <=50K')])
OrderedDict([('39', '52'), (' State-gov', ' Self-emp-not-inc'), (' 77516', ' 209642'), (' Bachelors', ' HS-grad'), (' 13', ' 9'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Husband'), (' White', ' White'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 45'), (' United-States', ' United-States'), (' <=50K', ' >50K')])
OrderedDict([('39', '31'), (' State-gov', ' Private'), (' 77516', ' 45781'), (' Bachelors', ' Masters'), (' 13', ' 14'), (' Never-married', ' Never-married'), (' Adm-clerical', ' Prof-specialty'), (' Not-in-family', ' Not-in-family'), (' White', ' White'), (' Male', ' Female'), (' 2174', ' 14084'), (' 0', ' 0'), (' 40', ' 50'), (' United-States', ' United-States'), (' <=50K', ' >50K')])
OrderedDict([('39', '42'), (' State-gov', ' Private'), (' 77516', ' 159449'), (' Bachelors', ' Bachelors'), (' 13', ' 13'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Husband'), (' White', ' White'), (' Male', ' Male'), (' 2174', ' 5178'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' United-States'), (' <=50K', ' >50K')])
OrderedDict([('39', '37'), (' State-gov', ' Private'), (' 77516', ' 280464'), (' Bachelors', ' Some-college'), (' 13', ' 10'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Husband'), (' White', ' Black'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 80'), (' United-States', ' United-States'), (' <=50K', ' >50K')])

One more option is to use itertools from islice

In [6]:
import csv
from itertools import islice

with open('adult_birth.csv') as f:
    reader = csv.DictReader(f)
    for row in islice(reader, 10): # first 10 only
        print(row)

OrderedDict([('39', '50'), (' State-gov', ' Self-emp-not-inc'), (' 77516', ' 83311'), (' Bachelors', ' Bachelors'), (' 13', ' 13'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Husband'), (' White', ' White'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 13'), (' United-States', ' United-States'), (' <=50K', ' <=50K')])
OrderedDict([('39', '38'), (' State-gov', ' Private'), (' 77516', ' 215646'), (' Bachelors', ' HS-grad'), (' 13', ' 9'), (' Never-married', ' Divorced'), (' Adm-clerical', ' Handlers-cleaners'), (' Not-in-family', ' Not-in-family'), (' White', ' White'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' United-States'), (' <=50K', ' <=50K')])
OrderedDict([('39', '53'), (' State-gov', ' Private'), (' 77516', ' 234721'), (' Bachelors', ' 11th'), (' 13', ' 7'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Handlers-cleaners'), (' Not-in-family', ' Husband'), (' White', ' Black'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' United-States'), (' <=50K', ' <=50K')])
OrderedDict([('39', '28'), (' State-gov', ' Private'), (' 77516', ' 338409'), (' Bachelors', ' Bachelors'), (' 13', ' 13'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Prof-specialty'), (' Not-in-family', ' Wife'), (' White', ' Black'), (' Male', ' Female'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' Cuba'), (' <=50K', ' <=50K')])
OrderedDict([('39', '37'), (' State-gov', ' Private'), (' 77516', ' 284582'), (' Bachelors', ' Masters'), (' 13', ' 14'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Wife'), (' White', ' White'), (' Male', ' Female'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' United-States'), (' <=50K', ' <=50K')])
OrderedDict([('39', '49'), (' State-gov', ' Private'), (' 77516', ' 160187'), (' Bachelors', ' 9th'), (' 13', ' 5'), (' Never-married', ' Married-spouse-absent'), (' Adm-clerical', ' Other-service'), (' Not-in-family', ' Not-in-family'), (' White', ' Black'), (' Male', ' Female'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 16'), (' United-States', ' Jamaica'), (' <=50K', ' <=50K')])
OrderedDict([('39', '52'), (' State-gov', ' Self-emp-not-inc'), (' 77516', ' 209642'), (' Bachelors', ' HS-grad'), (' 13', ' 9'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Husband'), (' White', ' White'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 45'), (' United-States', ' United-States'), (' <=50K', ' >50K')])
OrderedDict([('39', '31'), (' State-gov', ' Private'), (' 77516', ' 45781'), (' Bachelors', ' Masters'), (' 13', ' 14'), (' Never-married', ' Never-married'), (' Adm-clerical', ' Prof-specialty'), (' Not-in-family', ' Not-in-family'), (' White', ' White'), (' Male', ' Female'), (' 2174', ' 14084'), (' 0', ' 0'), (' 40', ' 50'), (' United-States', ' United-States'), (' <=50K', ' >50K')])
OrderedDict([('39', '42'), (' State-gov', ' Private'), (' 77516', ' 159449'), (' Bachelors', ' Bachelors'), (' 13', ' 13'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Husband'), (' White', ' White'), (' Male', ' Male'), (' 2174', ' 5178'), (' 0', ' 0'), (' 40', ' 40'), (' United-States', ' United-States'), (' <=50K', ' >50K')])
OrderedDict([('39', '37'), (' State-gov', ' Private'), (' 77516', ' 280464'), (' Bachelors', ' Some-college'), (' 13', ' 10'), (' Never-married', ' Married-civ-spouse'), (' Adm-clerical', ' Exec-managerial'), (' Not-in-family', ' Husband'), (' White', ' Black'), (' Male', ' Male'), (' 2174', ' 0'), (' 0', ' 0'), (' 40', ' 80'), (' United-States', ' United-States'), (' <=50K', ' >50K')])

In [7]:
import csv

with open("adult_birth.csv") as f:
    reader = csv.reader(f) 
    csv_headings = next(reader)
    print(csv_headings)

['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0', ' 40', ' United-States', ' <=50K']

"next" method retreives next item

My csv doesn't have headings, let's fix that.

https://www.blog.pythonlibrary.org/2014/02/26/python-101-reading-and-writing-csv-files/

In [8]:
#It is difficult to insert a line on top, a line at the end is easy with appent, for top line it's best to 
#read file first, save it, and then write the new line, and write the file


#create a test csv for playing
import csv
 
with open('test.csv', 'w') as csvfile:
    filewriter = csv.writer(csvfile)
    filewriter.writerow(['Name', 'Age'])
    filewriter.writerow(['Derek', '25'])
    filewriter.writerow(['Steve', '30'])
    filewriter.writerow(['Paul', '7'])

In [9]:
#checking the file can be reAD
with open('test.csv') as f:
    reader = csv.reader(f) 
    csv_headings = next(reader)
    print(csv_headings)

['Name', 'Age']

In [10]:
#reading the file and saving
#writing the new row and then writing the old file 
header_row_test = ['age', 'workclass']
import csv
with open('test.csv',newline='') as f:
    r = csv.reader(f)
    data = [line for line in r]
with open('test.csv','w',newline='') as f:
    w = csv.writer(f)
    w.writerow(header_row_test)
    w.writerows(data)

In [11]:
with open('test.csv') as f:
    reader = csv.reader(f) 
    csv_headings = next(reader)
    csv_headings1 = next(reader)
    print(csv_headings)
    print(csv_headings1)

['age', 'workclass']
['Name', 'Age']

In [12]:

from pandas import read_csv
df = read_csv('test.csv')
df.columns = ['a', 'b']
df.to_csv('test_2.csv')

In [13]:
df.head()

       a    b
0   Name  Age
1  Derek   25
2  Steve   30
3   Paul    7

In [14]:
#pandas makes it much easier, so let's do it with pandas for the real file
from pandas import read_csv
df = read_csv('adult_birth.csv')
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'inspct', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']
df.to_csv('adult_birth_h.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,inspct,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

Great I have the file in the right format with headings and as data frame.
Here is a useful blog post: http://beancoder.com/csv-files-using-python/